*{
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 65%;
    box-sizing: border-box;
}
body{
    font-family: system-ui;
    color: #555;
    background: #f7f7f7;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.sectionInput{
    display: flex;
    flex-flow: row;
    margin: 5rem;
}
.sectionMain{
    height: 100%;
    width: 90%;
    overflow: auto;
    /* background: coral; */
}
.container{
   display: flex;
   flex-flow: column;
   align-items: center;
}
.countries{
    display: flex;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s;
}
.country{
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    border-radius: 0.7rem;
    margin: 0 3rem;
}
.country_img{
    width: 30rem;
    height: 17rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}
.country_data{
    padding: 2.5rem 3.75rem 3rem 3.75rem;
}
.country_name{
    font-size: 2.7rem;
    margin-bottom: 0.7rem;
}
.country_region{
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    color: #888;
}
.country_row:not(:last-child){
    margin-bottom: 1rem;
}
/* CSS สำหรับแบบฟอร์มค้นหา */

#form {
    display: flex;
    align-items: center;
}

#query {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    height: 4rem;
    width: 50rem;
}

#query:focus {
    outline: none;
    border-color: dodgerblue; /* เปลี่ยนสีกรอบเมื่อได้รับการโฟกัส */
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease; /* เพิ่ม animation ให้กับปุ่ม */ 
    height: 4rem;
}

button[type="submit"]:hover {
    background-color: #007acc; /* เปลี่ยนสีพื้นหลังเมื่อชี้ */
}
